* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-basis: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.1);
    grid-template-columns: repeat(8, 1fr);
}

.cell {
    aspect-ratio: 1;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.cell.clicked {
    background-color: tomato;
}